.App {
  text-align: center;
  margin-top: 50px;
}

ul {
  list-style: none;
  padding: 0;
}

input,
button {
  border: 2px solid #ccc;
  padding: 8px;
}

button {
  background-color: green;
  color: #fff;
}

li {
  border: 2px solid #ccc;
  max-width: 400px;
  margin: 10px auto;
  padding: 8px;
  background-color: indianred;
  color: #fff;
}
